/* CSS declarations go here */

    *{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    body {
        position: relative;
    }

    body {
    position: relative;
    }

    #form-wrapper {     
        width: 250px; /* this is needed */
        height: 100px; /* this is needed */
        padding: 10px; /* this is for styling only */
        background: #eee; /* this is for styling only */
        position: relative;
        margin: auto; /* this is needed */
        left: auto; /* this is needed */
         /* this is needed */
        bottom: auto; /* this is needed */
        text-align: center;
    }
    
    .page-header {
        padding: 0px;
        margin: 15px 0 5px;
    }

    /* HEADER */
    .bottomborder{
        border-bottom: 1px solid #eee;
    }

    header {
        width: 100%;
        text-align: right;
        padding: 0 .5em .7em;
        border-bottom: solid 1px #E5E5E5;
        margin-bottom: 1em;
        min-width: 1000px;
    }

    .headerrow {
        display: flex;
        text-align: center;
        padding-bottom: 10px;
    }

    .headercolumn {
        flex: 50%;
        text-align: center;
    }

    /* MAIN INTERFACE */

    .row {
        display: flex;
        text-align: center;
        padding-bottom: 2px;
        height: 500px;
        
    }

    #buildtable{
        background: lightgreen;
        flex: 80%;
        min-width: 800px;
        text-align: center;
        height: 100%;
    }
    
    #menu{
        background: lavender;
        flex: 20%;
        min-width: 200px;
        text-align: center;
        height: 100%;

    }

    .options{
        margin: 8px 0px;
        width: 50%;
    }

    .actions{
        margin: 8px 0px;
    }
    
    .color, .shape{
        margin: 8px 8px;
    }

