/* creates a new font type - eight bit font */
@font-face {
    font-family: eightbit;
    src: url(8-BITWONDER.TTF);
}

*{
    font-family: "eightbit","Impact","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    position: relative;
    background: url(/skybackground.jpg) no-repeat center center fixed #e3eaf2; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ~~~HEADER~~~ */
header {
    width: 99%;
    text-align: right;
    padding: 0 .5em .7em;
    margin-bottom: 1em;
    min-width: 1000px;
}
.headerrow {
    display: flex;
    text-align: center;
    padding-bottom: 10px;
}

.headercolumn {
    flex: 50%;
    text-align: center;
}

.bottomborder{
    border-bottom: solid 1px #E5E5E5;
}

/* for welcome, logout and delete in header */
.welcome{
    text-align: right;
    margin-bottom: 5px;
}
.welcome p{
    margin: 15px 10px 15px 0px;
    font-size: 17px;
}

.page-header {
    padding: 0px;
    margin: 15px 0 5px;
}

/* for 8-bit builder in header, except login page */
h1{
    font-size: 45px;
    margin-top: 12px;
    margin-bottom: 12px;
}

button{
    margin: 0px 3px 0px 0px;
    width: 110px;
    font-size: 12px;
    border-radius: 5px;
    min-height: 30px;
    padding: 0px 0px;
    vertical-align: top;
}

/* creats transparent box for log in and create project */
#form-wrapper {
    width: 250px;
    height: 180px;
    padding: 20px;
    background-color: rgba(227, 234, 242, 0.8);
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -125px;
    text-align: center;
    border-radius: 5px;
}

input{
    width: 200px;
}

label{
    font-size: 20px;
    vertical-align: middle;
}



/* ~~~ MAIN INTERFACE ~~~*/

.row {
    display: flex;
    text-align: center;
    padding-bottom: 2px;
    height: 665px;
}

#menu{
    flex: 20%;
    min-width: 200px;
    text-align: center;
    height: 100%;
}

/* for display of current block selections */
#smallScene{
    float: left;
    top: 300px;
    left: 0;
    background-color: red;
    position: absolute;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    border: solid black 1px;
    background: rgba(227, 234, 242, 0.3);
}


/* for add, move and delete */
.actions{
    margin: 8px 0px;
    height: 130px;
    float: left;
    width: 200px;
    list-style-type:none;
    padding:0;
    display: inline-block;
    z-index: 100;
}

.actions li {
    float:left;
    margin: 2px;
    width:100%;
    height:40px;
    position:relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    border: solid black 1px;
    background-color: rgba(227, 234, 242, 0.3);


}

.actions label {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:5px;
    cursor:pointer;
}

.actions input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.actions input[type="radio"]:checked + label {
    border-radius: 5px;
    background:#e3eaf2;
}
.actions li:hover {
    border-radius: 5px;
    background-color:#F6F6F6;
}

/* for save and clear buttons */
#dboptions{
    float: left;
    top: 530px;
    left: 0px;
    background-color: red;
    position: absolute;
    background: transparent;
}
#dboptions button{
    margin-top: 5px;
}

.options{
    float: left;
    left: 0;
    margin: 8px 0px;
    width: 150px;
    z-index: 100;
    position: absolute;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    margin-left: 25px;
}


/* for shape, color and rotate options */
#blockoptions{
    height: 50px;
    width: 999px;
    position: absolute;
    left: 350px;
    top: 115px;
}

#rotate{
	position: relative;
    display: inline;
    font-size: 20px; 
    width: 170px; 
    height:30px;
    margin-top: 10px;
}

.color, .shape{
	position: relative;
    float: right;
    margin: 15px;
    display: inline;

}
.tile{
	display: none;
}
