/* CSS declarations go here */

    *{
        font-family: "Imapct","Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    body {
        position: relative;
    }

    body {
    position: relative;
    }

    #form-wrapper {     
        width: 250px; /* this is needed */
        height: 100px; /* this is needed */
        padding: 10px; /* this is for styling only */
        background: #eee; /* this is for styling only */
        position: relative;
        margin: auto; /* this is needed */
        left: auto; /* this is needed */
         /* this is needed */
        bottom: auto; /* this is needed */
        text-align: center;
    }
    
    .page-header {
        padding: 0px;
        margin: 15px 0 5px;
    }

    /* HEADER */
    .bottomborder{
        border-bottom: 1px solid #eee;
    }

    header {
        width: 100%;
        text-align: right;
        padding: 0 .5em .7em;
        border-bottom: solid 1px #E5E5E5;
        margin-bottom: 1em;
        min-width: 1000px;
    }

    .headerrow {
        display: flex;
        text-align: center;
        padding-bottom: 10px;
    }

    .headercolumn {
        flex: 50%;
        text-align: center;
    }

    /* MAIN INTERFACE */

    .row {
        display: flex;
        text-align: center;
        padding-bottom: 2px;
        height: 500px;
        
    }

    #buildtable{
        background: lightgreen;
        flex: 80%;
        min-width: 800px;
        text-align: center;
        height: 100%;
    }
    
    #menu{
        background: #ddeeff;
        flex: 20%;
        min-width: 200px;
        text-align: center;
        height: 100%;
        border-right: solid #e3eaf2 1px;

    }

    .options{
        margin: 8px 0px;
        width: 50%;
    }


    
    .color, .shape{
        margin: 8px 8px;
    }



    .actions{
        margin: 8px 0px;
        height: auto;
        list-style-type:none;
        padding:0;
    }

    .actions li {
        float:left;
        margin:0 5px 0 0;
        width:100%;
        height:40px;
        position:relative;
    }

    .actions label {
        display:block;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        padding:5px;
        border:1px solid #CCC; 
        cursor:pointer;

    }

    .actions input[type="radio"] {
        opacity:0.011;
        z-index:100;
    }

    .actions input[type="radio"]:checked + label {
        background:#e3eaf2;
    }
    .actions label:hover {
        background:#DDD;
    }

